/* mobile responsive */
@media screen and (max-width: 576px){
    .navbar,.banner, .logo, .gamer , .online-games {
        flex-direction: column;

    }
    .logo{
        margin-bottom: 15px;
    }
    .banner{
        text-align: center;
        padding: 0px 20px;
    }
    .banner-title h3{
        font-size: 1.5rem;

    }
    .banner-title h1{
        font-size: 2rem;
    }
    .banner-title, .banner-img{
        width: 100%;
    }
    .gamer-title{
        width: 100%;
        
    }
    .gamer-title h1{
        font-size: 1.2rem;
    }
    .gamer-title p{
        font-size: .8rem;
    }
    .online-game h1{
        font-size: 1rem;
    }
    .online-games{
        width: 100%;

    }
    /* .play-img-one{
        width: 100%;
    } */
   
}