/* mobile responsive */
@media screen and (max-width: 576px) {
    .navbar,
    .gamer,
    .online-games,
    ul {
      flex-direction: column;
    }
  
    .navbar {
      padding: 20px 0px;
    }
  
    .item button {
      padding: 8px 20px;
      border-radius: 5px;
    }
    .logo {
      margin-bottom: 15px;
    }
  
    .banner {
      flex-direction: column-reverse;
      background-color: #fff;
      padding: 0px 30px;
    }
  
    .banner-img {
      width: 100%;
      margin-right: 0px;
    }
    .banner-img img {
      width: 100%;
      height: 100%;
      background-color: #fff;
    }
  
    .banner-title {
      width: 100%;
      padding-top: 0px;
      padding-left: 0px;
      padding: 20px;
    }
  
    .banner-title h3 {
      font-size: 1.5rem;
    }
  
    .banner-title h1 {
      font-size: 3rem;
    }
  
    .banner-title p {
      font-size: 0.7rem;
    }
  
    .primary-btn {
      padding: 10px 22px;
    }
    .go-btn {
      padding: 10px 22px;
    }
  
    /* header banner end */
  
    .gamer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      padding: 20px 30px;
    }
  
    .gamer-img {
      width: 100%;
    }
  
    .gamer-title {
      width: 100%;
      text-align: center;
    }
  
    .gamer-title h1 {
      font-size: 2rem;
    }
    .gamer-title p {
      font-size: 0.8rem;
      line-height: 20px;
    }
  
    .gamer-btn {
      margin-bottom: 15px;
    }
  
    .gamer-title b {
      font-size: 1rem;
    }
  
    /* gamer part end */
  
    .online-game {
      padding: 30px;
    }
  
    .online-game h1 {
      font-size: 2rem;
    }
    .online-game .value {
      font-size: 1rem;
    }
  
    .img-online-con {
      width: 100%;
    }
    .online-game p {
      font-size: 0.9rem;
      margin-top: 10px;
      text-align: center;
    }
  
    /* online-games part end */
  
    .play-one {
      padding: 10px 30px;
      flex-direction: column;
      gap: 30px;
    }
    .play-title-one {
      text-align: center;
    }
  
    .play-title-one h1 {
      font-size: 1.8rem;
    }
  
    .play-title-one p {
      font-size: 0.6rem;
      margin-bottom: 0px;
      margin: 10px 0px;
    }
  
    .play-img-one {
      width: 100%;
      text-align: end;
    }
  
    .play-img-one .img-big-one {
      width: 80%;
    }
  
    .play-img-one .img-small-one {
      position: absolute;
      bottom: -50px;
      left: -10px;
      width: 50%;
    }
  
    /*  */
  
    .play-tow {
      padding: 100px 30px;
      flex-direction: column-reverse;
      gap: 30px;
    }
  
    .play-title-tow {
      text-align: center;
    }
  
    .play-title-tow h1 {
      font-size: 1.8rem;
    }
  
    .play-title-tow p {
      font-size: 0.6rem;
      margin-bottom: 0px;
      margin: 10px 0px;
    }
  
    .play-img-tow {
      width: 100%;
    }
  
    .play-img-tow .img-big-tow {
      width: 80%;
    }
  
    .play-img-tow .img-small-tow {
      position: absolute;
      bottom: -50px;
      right: -10px;
      width: 50%;
    }
  
    /* play part end */
  
    .career {
      padding: 30px;
      flex-direction: column;
      gap: 30px;
    }
  
    .career .career-title {
      width: 100%;
      margin-left: 10px;
    }
  
    .career-title h2 {
      font-size: 30px;
      line-height: 40px;
    }
  
    .career-title p {
      font-size: 14px;
      line-height: 20px;
    }
  
    .career-ul {
      flex-direction: column;
      gap: 10px;
      padding: 20px 0px;
    }
  
    .career-ul ul li {
      font-size: 15px;
      font-weight: 500;
      line-height: 30px;
    }
  
    .career .button button {
      font-size: 17px;
      padding: 14px 28px;
    }
  
    .career .career-img {
      width: 100%;
    }
    .career .career-img img {
      width: 100%;
      height: 100%;
    }
  
    /* careers part end */
  
    .partner {
      padding: 30px;
    }
  
    .partner-one {
      margin-top: 10px;
    }
  
    .partner-hide {
      display: block;
    }
  
    .partner-show {
      display: none;
    }
  
    /* partner part end */
  
    footer {
      padding: 30px;
    }
  }
  