/* google font use */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* nav section start */
header{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
padding: 0px 20px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
max-width: 100vw;
margin: 0 auto;
padding: 15px 60px;

}
.logo{
    display: flex;
    gap: 15px;
}
.item ul{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 25px;
    
}
.logo h1{
    color: #0B0223;
    color: #0B0223;
    font-size: 2.3rem;
    text-align: center;
}
.logo-letter{
    color: #FF42A5;

}
.item ul li{
    list-style: none;

}
.item ul li a{
    text-decoration: none;
    color: #3C354F;
  
}
.item button{
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 10px 15px;
border: none;
}
.fa-youtube{
    color: red;

}

/* nav style end */

/* banner style start  */
.banner{
    display: flex;
   padding: 0px 20px;
  
}
.banner-title{
    width: 50%;
    background-image: url('../images/Group\ 14.png');
   background-repeat: no-repeat;
   background-size: contain;
   
   
}
.banner-title h3{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 50px;
    text-align: center;
    
}
.banner-title h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 5rem;
font-weight: 800;
text-align: center;
}
.banner-title p{
    color: #534C64;
align-items: center     ;
font-weight: 500;
font-size: 1rem;
margin: 0px auto;
margin-bottom: 10px;
 max-width: 21vw;
}
.button{
    display: flex;
    gap: 5px;
    padding: 0px 0px 0px 170px;
    
}
.primary-btn{
    border-radius: 48px;
    background-color: #FF42A5;
    border: none;
    padding: 10px 20px;
  text-align: center;
  color: white;
}
.go-btn{
    border-radius: 48px;
  color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 48px;
background: #4EC5F7;
}


.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
    margin-top: 20px;
}
.fa-regular, .fa-download{
 color: #FF42A5;
}
/* banner style end */

/* gammer section start  */
.gamer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 0px 20px;
}

.gamer-img img{
    width: 80%;
    
}
.gamer-title{
    width: 50%;
    margin: 0 auto;
}
.gamer-title h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 700;
font-size: 2.8rem;
}
.gamer-title p{
    color: #534C64;
    color: #534C64;
    font-size: 1rem;
    margin: 8px 0px;
}



/* gammer section ends */