/* google font use */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* nav section start */
header{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
padding: 0px 20px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
max-width: 100vw;
margin: 0 auto;
padding: 15px 60px;

}
.logo{
    display: flex;
    gap: 15px;
}
.item ul{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 25px;
    
}
.logo h1{
    color: #0B0223;
    color: #0B0223;
    font-size: 2.3rem;
    text-align: center;
}
.logo-letter{
    color: #FF42A5;

}
.item ul li{
    list-style: none;

}
.item ul li a{
    text-decoration: none;
    color: #3C354F;
  
}
.item button{
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 10px 15px;
border: none;
}
.fa-youtube{
    color: red;

}

/* nav style end */

/* banner style start  */
.banner{
    display: flex;
   padding: 0px 20px;
  
}
.banner-title{
    width: 50%;
    background-image: url('../images/Group\ 14.png');
   background-repeat: no-repeat;
   background-size: contain;
   
   
}
.banner-title h3{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    padding-top: 50px;
    text-align: center;
    
}
.banner-title h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 5rem;
font-weight: 800;
text-align: center;
}
.banner-title p{
    color: #534C64;
align-items: center     ;
font-weight: 500;
font-size: 1rem;
margin: 0px auto;
margin-bottom: 10px;
 max-width: 21vw;
}
.button{
    display: flex;
    gap: 5px;
    padding: 0px 0px 0px 170px;
    
}
.primary-btn{
    border-radius: 48px;
    background-color: #FF42A5;
    border: none;
    padding: 10px 20px;
  text-align: center;
  color: white;
}
.go-btn{
    border-radius: 48px;
  color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 48px;
background: #4EC5F7;
}


.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
    margin-top: 20px;
}
.fa-regular, .fa-download{
 color: #FF42A5;
}
/* banner style end */

/* gammer section start  */
.gamer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    /* -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
    padding: 0px 20px;
}

.gamer-img img{
    width: 80%;
    
}
.gamer-title{
    width: 50%;
    margin: 0 auto;
}
.gamer-title h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 700;
font-size: 2.8rem;
}
.gamer-title p{
    color: #534C64;
    color: #534C64;
    font-size: 1rem;
    margin: 8px 0px;
}



/* gammer section ends */
/* online games section start  */
.online-game{
    padding: 0px 20px;
    margin-bottom: 50px;
    /* display: flex;
    justify-content: center;
    gap: 10px; */
}
.online-game h1{
    color: #0B0223;
    font-weight: 700;
    font-size: 2.8rem;
    text-align: center;
    margin-top: 36px;
}
 .value{
    color: #534C64;
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.online-games{
    display: flex;
    justify-content: center;
    gap: 10px;
 
}

.online-games img{
    width: 237px;
    height: 301px;
}

.img-online{
    position: relative;
  width: 50%;
}
.img-online img{
    display: block;
  width: 100%;
  height: auto;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 20px;
    height: 90%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    border-radius: 16px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
border: 2px solid #F948B2;

}
.img-online:hover .overlay{
    opacity: 1;
}
.content h2{
    color: white;
    font-size: 20px;
    position: absolute;
    color: #F948B2;
    top: 56%;
    left: 35%;
    text-align: center
}
.play-icon{
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    font-size: 1rem;

}


.img-online p{
    color: #534C64;
    font-size: 1rem;
    margin-top: 15px;
}
/* online games section ends */

/* play games start */

.play{
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-img .img-small{
    position: relative;
    position: relative;
    bottom: 100px;
    left: 454px;
}

/* play games end */