/* google font use */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* nav section start */
header{
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
max-width: 100vw;
margin: 0 auto;

padding: 15px 120px;

}
.logo{
    display: flex;
    gap: 15px;
}
.navbar .logo h1{
    color: #0B0223;
}
.item ul{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 25px;
    
}
.logo h1{
    color: #0B0223;
    color: #0B0223;
    font-size: 2.3rem;
    text-align: center;
}
.logo-letter{
    color: #FF42A5;

}
.item ul li{
    list-style: none;

}
.item ul li a{
    text-decoration: none;
    color: #3C354F;
  
}
.item button{
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 10px 15px;
border: none;
}
.fa-youtube{
    color: red;

}

/* nav style end */

/* banner style start  */
.banner{
    display: flex;
    gap: 50px;
    /* padding-top: 20px; */
}
.banner-title{
    width: 50%;
    background-image: url('../images/Group\ 14.png');
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 130px;
   padding-left: 120px;
   
}
.banner-title h3{
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
   
   
    
}
.banner-title h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 5rem;
font-weight: 800;

}
.banner-title p{
    color: #534C64;
   
font-weight: 500;
font-size: 1rem;

margin-bottom: 10px;
 
}
.button{
    display: flex;
    gap: 5px;
  
    
}
.primary-btn{
    border-radius: 48px;
    background-color: #FF42A5;
    border: none;
    padding: 16px 27px;
 
  color: white;
}
.go-btn{
    border-radius: 48px;
  color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 48px;
background: #4EC5F7;
}


.banner-img{
    width: 50%;
    margin-right: 120px;
    display: flex;
    justify-content: end;
}
.banner-img img{
    width: 90%;
    height: 90%;

   
}
.fa-regular, .fa-download{
 color: #FF42A5;
}
/* banner style end */

/* gammer section start  */
.gamer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 25px 120px;

}
/* portfolio_part start */

.port_img {
    position: relative;
  }
  .port_img:hover .port_img_overlay {
    opacity: 1;
    width: 100%;
  }
  
  .port_con {
    overflow: hidden;
  }
  
  .port_img_overlay {
    position: absolute;
    width: 0;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
  }
  .port_img_overlay a {
    height: 40px;
    width: 40px;
    font-size: 25px;
    background: #5bc5f4;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* portfolio_part end */

.gamer-img{
    width: 70%;
    
}
.gamer-img img{
    width: 100%;
}
.gamer-title{
    width: 50%;
    text-align: end;
}
.gamer-title h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-weight: 700;
font-size: 2.8rem;
}
.gamer-title p{
    color: #534C64;
    color: #534C64;
    font-size: 1.1rem;
    margin: 8px 0px;
    line-height: 30px;
}
.gamer-title b{
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 700;
}



/* gammer section ends */
/* online games section start  */
.online-game{
    padding:80px 120px;
  
    /* display: flex;
    justify-content: center;
    gap: 10px; */
}
.online-game h1{
    color: #0B0223;
    font-weight: 700;
    font-size: 2.8rem;
    text-align: center;

}
 .value{
    color: #534C64;
    font-size: 1rem;
    text-align: center;
    
}
.funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.online-games{
    display: flex;
    justify-content: center;
    gap: 10px;

 
}
.online-game p{
    margin-bottom: 20px;
    color: #534C64;
    font-weight: 400;
    font-size: 1rem;
}
.onlin-content{
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}
.online-games img{
    width: 237px;
    height: 301px;
}
.img-online-con {
    width: 50%;
    overflow: hidden;
  }
  .img-online-con img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .img-online-con p {
    color: #534c64;
    font-size: 1rem;
    margin-top: 15px;
  }
  
  .online-img {
    position: relative;
  }
  .online-img:hover .img-overlay {
    opacity: 1;
    width: 100%;
  }
  
  .img-overlay {
    position: absolute;
    width: 0;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    border-radius: 15px;
    border: 5px solid #f948b2;
  }
  .img-overlay .overlay-title i {
    font-size: 40px;
    color: #fff;
    margin-left: 35px;
    margin-bottom: 10px;
  }
  
  .img-overlay .overlay-title h2 {
    color: white;
    font-size: 20px;
    color: #f948b2;
  }


/* online games section ends */

/* play games start */

.play-one {
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  
  .play-img-one {
    width: 50%;
    position: relative;
  }
  
  .play-img-one .img-big-one {
    width: 100%;
  }
  
  .play-img-one .img-small-one {
    position: absolute;
    bottom: -120px;
    left: -140px;
  }
  
  .play-title-one {
    text-align: end;
    
 
  }
  
  .play-head-one {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .play-title-one h1 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .play-title-one p {
    color: #534c64;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 200px;
  }
  
  /*  */
  
  .play-tow {
    padding: 180px 120px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
  }
  
  .play-img-tow {
    width: 50%;
    position: relative;
  }
  
  .play-img-tow .img-big-tow {
    width: 100%;
  }
  
  .play-img-tow .img-small-tow {
    position: absolute;
    bottom: -120px;
    right: -130px;
  }
  
  .play-head-tow {
    background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  /* .play-title-tow{
    width: 35%;
  } */
  .play-title-tow h1 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .play-title-tow p {
    color: #534c64;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 200px;
  }
  /* play games end */

  
  /* partner start */
  .partner {
    background: linear-gradient(
      90deg,
      rgba(255, 66, 165, 0.03) 0%,
      rgba(255, 66, 165, 0.03) 100%
    );
    padding: 100px 120px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }
  .partner-tow {
    background: linear-gradient(
      90deg,
      rgba(255, 66, 165, 0.03) 0%,
      rgba(255, 66, 165, 0.03) 100%
    );
    padding: 50px 120px 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
  }
  
  .partner-one {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 50px;
    transition: 0.5s;
    border: 1px solid #fff;
  }
  
  .partner-one p {
    transition: 0.5s;
  }
  
  .partner-one:hover {
    border: 1px solid rgba(255, 66, 165, 1);
  }
  .partner-one:hover p {
    color: rgba(255, 66, 165, 1);
  }
  
  .partner-one p {
    color: #0b0223;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  /* partner end */

  









  /* career part start */
.career {
    background-color: rgba(255, 66, 165, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 120px;
  }
  
  .career .career-title {
    
    width: 50%;

  }
  .career .career-img {
    width: 50%;
    display: flex;
    justify-content: end;
  }
  .career .career-img img {
    width: 100%;
    height: auto;
  }
  
  .career-title h2 {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
  }
  
  .career-title p {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin: 6px 0px;
  }
  
  .career-ul {
    display: flex;
    gap: 15px;
    justify-content: space-between;
  }
  
  .career-ul ul {
    list-style: none;
  }
  
  .career-ul ul li {
    color: #fff;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
  }
  
  .career .button button {
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    background: #fff;
    display: inline-flex;
    padding: 18px 35px;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #fff;
    color: rgba(255, 66, 165, 1);
  }
  
  /* career part end */
  

.icon-container button{
    border-radius: 15px;
}
.icon-container button img{
    width: 40px;
}
.icon-container button b{
    text-align: center;
}
/* fotter section start  */

footer{
    background: #0B0223;
    color: white;
    text-align: center;
    padding: 60px 120px;


}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    color: white;
    
}
.footer-item ul{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;
}
.footer-item li{
    list-style: none;

}
.footer-item a{
    text-decoration: none;
    color: white;
}
.footer-icon{
    font-size: 30px;
}
.footer-icon i{
    color: white;
    padding: 10px;
}
.footer-setting ul{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

.footer-setting li{
    list-style: none;
}
.footer-setting a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    margin-bottom: 10px;
}
.footer-setting {
    margin-bottom: 19px;
}
small{
    color: rgba(255, 255, 255, 0.60);
}
.fa-youtube{
    color: red;
}
/* foooter section ends */